<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Añadir Cliente</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/mascotasStyle.css" />
    <link rel="icon" href="../../assets/icons/FaviconMichiMed.ico" type="image/x-icon" />
    <style>
      /* Estilos para la tarjeta de error */
      .error-card {
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
        border-radius: 4px;
        padding: 15px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <header class="header-3">
      <a href="http://localhost:8090/mascotas">
        <img src="/assets/img/Michimed_Logo 1.png" alt="MichiMed Logo" />
      </a>
      <img src="/assets/img/User.png" alt="User Photo" />
    </header>
    <main style="width: 60%">
      <a href="http://localhost:8090/clientes" class="volver"
        ><img src="/assets/icons/arrow_back.png" />Volver</a
      >
      <div class="info">
        <h1>Añadir Cliente</h1>
      </div>

      <!-- Tarjeta de error -->
      <div th:if="${error}" class="error-card">
        <p th:text="${error}"></p>
      </div>

      <form th:object="${cliente}" th:action="@{/clientes/add}" method="post">
        <div class="row">
          <div class="col-md-6">
            <label for="nombre">Nombre</label>
            <input
              th:field="*{nombre}"
              type="text"
              id="nombreAdd"
              class="form-control"
              placeholder="Ingresa el nombre del cliente"
              required
            />

            <label for="correo">Correo</label>
            <input
              th:field="*{email}"
              id="correoAdd"
              class="form-control"
              placeholder="Ingresa el correo"
              type="email"
              required
            />

            <label for="cedula">Cedula</label>
            <input
              th:field="*{cedula}"
              type="text"
              id="cedulaAdd"
              class="form-control"
              placeholder="Ingresa la cedula"
              required
            />

            <label for="contrasena">Contraseña</label>
            <input
              th:field="*{contrasena}"
              type="password"
              id="contrasenaAdd"
              class="form-control"
              placeholder="Ingresa la contraseña"
              required
            />
          </div>
        </div>
        <button class="add">Add</button>
      </form>
    </main>
  </body>
</html>
