<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Editar Mascota</title>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/mascotasStyle.css" />
  </head>
  <body>
    <header class="header-3">
      <a href="http://localhost:8090/mascotas">
        <img src="/assets/img/Michimed_Logo 1.png" alt="MichiMed Logo" />
      </a>
      <img src="/assets/img/User.png" alt="User Photo" />
    </header>
    <main style="width: 60%">
      <a href="http://localhost:8090/clientes" class="volver"
        ><img src="/assets/icons/arrow_back.png" />Volver</a
      >
      <div class="info">
        <h1>Editar Cliente</h1>
      </div>
      <form
        th:object="${cliente}"
        th:action="@{/clientes/update/{id}(id=${cliente.id})}"
        method="post"
      >
        <div class="row">
          <div class="col-md-6">
            <label for="nombre">Nombre</label>
            <input
              th:field="*{nombre}"
              type="text"
              id="nombreUpdate"
              class="form-control"
              placeholder="Ingresa el nombre del cliente"
            />

            <label for="correo">Correo</label>
            <input
              th:field="*{email}"
              id="correoUpdate"
              class="form-control"
              placeholder="Ingresa el correo"
              type="text"
            />

            <label for="cedula">Cedula</label>
            <input
              th:field="*{cedula}"
              type="text"
              id="cedulaUpdate"
              class="form-control"
              placeholder="Ingresa la cedula"
            />
          </div>
        </div>
        <button type="submit" class="add">Update</button>
        <input type="hidden" th:field="*{contrasena}" />
      </form>
    </main>
  </body>
</html>
