<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/mascotasStyle.css" />
    <title>Mascotas</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <img src="/assets/img/Michimed_Logo 1.png" alt="MichiMed Logo" />
        </div>
        <div class="user">
          <img src="/assets/img/User.png" alt="" />
        </div>
      </nav>
    </header>

    <main>
      <div class="info">
        <h1>Todos nuestros gatitos</h1>
        <div class="d-flex flex-row">
          <input
            type="text"
            placeholder="Buscar por el nombre del gatito..."
            required
          />
          <a class="btn btn-primary text-white ms-2 d-flex align-items-center" th:href="@{/mascotas/add}">Add</a>
        </div>
      </div>
      <container class="table-container">
        <table class="table align-middle">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Raza</th>
              <th>Edad</th>
              <th>Peso</th>
              <th>Enfermedad</th>
              <th>Estado</th>
              <th>Foto</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="mascota : ${mascotas}">
              <td th:text="${mascota.nombre}"></td>
              <td th:text="${mascota.raza}"></td>
              <td th:text="${mascota.edad + ' años'}"></td>
              <td th:text="${mascota.peso + ' kg'}"></td>
              <td th:text="${mascota.enfermedad}"></td>
              <td
                th:text="${mascota.estado}"
                th:classappend="${mascota.estado == 'En tratamiento'} ? 'estado-tratamiento' : 'estado-normal'"
              ></td>
              <td>
                <img
                  th:src="${mascota.foto}"
                  alt=""
                  class="table-img img-fluid"
                />
              </td>
              <td>
                <a class="btn btn-primary rounded-5" th:href="@{/mascotas/{id}(id=${mascota.id})}"><i class="bi bi-eye-fill"></i></i></a>
                <a class="btn btn-primary rounded-5" th:href="@{/mascotas/update/{id}(id=${mascota.id})}"><i class="bi bi-pen"></i></a>
                <a class="btn btn-danger rounded-5" th:href="@{/mascotas/delete/{id}(id=${mascota.id})}">X</a>
              </td>
            </tr>
          </tbody>
        </table>
      </container>

      <!-- Modal - Add -->
      <div
        class="modal fade"
        id="mascotaModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="mascotaModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog modal-xl" role="document">
          <div class="modal-content">
            <div class="header-modal">
              <img
                src="../assets/img/Michimed_Logo 1.png"
                alt="Michimed_Logo"
              />
              <h5 class="" id="mascotaModalLabel">Agregar Mascota</h5>
            </div>
            <div class="modal-body">
              <form action="">
                <div class="row">
                  <div class="col-md-6">
                    <label for="nombre">Nombre</label>
                    <input
                      type="text"
                      id="nombre"
                      class="form-control"
                      placeholder="Ingresa el nombre del gatito"
                    />

                    <label for="enfermedad">Enfermedad</label>
                    <input
                      type="text"
                      id="enfermedad"
                      class="form-control"
                      placeholder="Ingresa la enfermedad del gatito"
                    />

                    <label for="raza">Raza</label>
                    <input
                      type="text"
                      id="raza"
                      class="form-control"
                      placeholder="Ingresa la raza del gatito"
                    />

                    <label for="peso">Peso (kg)</label>
                    <input
                      type="number"
                      id="peso"
                      class="form-control"
                      placeholder="Ingresa el peso del gatito"
                    />

                    <button class="add">Add</button>
                  </div>

                  <div class="col-md-6">
                    <div class="upload">
                      <label for="foto">Upload image</label>
                      <input
                        type="file"
                        id="foto"
                        class="rounded-file-input"
                        style="display: none"
                      />
                      <img
                        src="../assets/icons/upload.png"
                        alt="Upload Logo"
                        class="upload-logo"
                        onclick="document.getElementById('foto').click();"
                      />
                    </div>

                    <label for="estado">Estado</label>
                    <select id="estado" class="form-control">
                      <option value="">Seleccione un estado</option>
                      <option value="En tratamiento">En tratamiento</option>
                      <option value="Normal">Normal</option>
                    </select>

                    <label for="fecha de nacimiento">Fecha de nacimiento</label>
                    <input
                      type="date"
                      id="fecha de nacimiento"
                      class="form-control"
                    />
                  </div>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-secondary"
                data-dismiss="modal"
              >
                Cerrar
              </button>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const cells = document.querySelectorAll("table tbody td");
        cells.forEach((cell) => {
          if (
            !cell.querySelector("img") &&
            (cell.textContent.trim() === "" ||
              cell.textContent.trim().toLowerCase() === "null")
          ) {
            cell.textContent = "N/A";
          }
        });

        const estadoCells = document.querySelectorAll(
          "table tbody td:nth-child(6)"
        );
        estadoCells.forEach((cell) => {
          const text = cell.textContent.trim();
          cell.innerHTML = `<span>${text}</span>`;
          const span = cell.querySelector("span");
          if (text === "En tratamiento") {
            span.style.backgroundColor = "#B3261E";
            span.style.color = "#ffffff";
            span.style.padding = "1px 4px";
            span.style.borderRadius = "10px";
          } else {
            span.style.backgroundColor = "#f0f2f5";
            span.style.padding = "1px 4px";
            span.style.borderRadius = "10px";
          }
        });
      });
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <!-- jQuery y Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
