<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../../css/global.css" />
    <title>Mascotas</title>
  </head>
  <body>
    <header class="header-2">
      <nav>
        <div class="logo">
          <a href="/"><img src="../../assets/img/Michimed_Logo 1.png" alt="MichiMed Logo" /></a>
        </div>
        <div class="user">
          <i class="bi bi-person-circle fs-1" style="color: var(--text-secondary);"></i>
        </div>
      </nav>
    </header>
    <main>
      <h1 class="text-center">Tus gatitos</h1>
      <section class="container my-4">
        <div class="row justify-content-center">
          <!-- Mensaje si no hay mascotas registradas -->
          <div th:if="${#lists.isEmpty(mascotas)}" class="col-12 text-center">
            <p>No tiene mascotas registradas aún...</p>
          </div>
          <!-- Card 1 -->
          <article th:each="mascota : ${mascotas}" class="col-12 col-sm-8 col-md-4">
            <div class="card text-center mb-4">
              <img th:src="${mascota.foto}" class="card-img-top" alt="Kayn">
              <div class="card-body">
                <h5 th:text="${mascota.nombre}" class="card-title"></h5>
                <p th:text="${mascota.edad + ' años'}" class="card-text"></p>
                <button th:text="${mascota.estado}" class="btn btn-primary" style="--bs-btn-padding-x: 4rem;"></button>
              </div>
            </div>
          </article>
        </div>
      </section>
    </main>
  </body>
</html>
