body {height: 100vh;}

.login-container {
    max-width: 500px;
    margin: auto;
    padding: 0 20px;
}

.login-container h1 {color: var(--text-secondary);}

.login-container .form-control {border-radius: 8px;}

.login-container .label-color {color: var(--text-terciary);}

.login-container input::placeholder {color: var(--text-secondary)}

.login-container .btn-primary {
    background-color: var(--text-secondary);
    border-color: var(--text-secondary);
    border-radius: 20px;
}
.login-container .btn-primary:hover {
    background-color: #4d617e;
    border-color: #4d617e;
}
