<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/global.css" />
    <link rel="stylesheet" href="./css/landing.css" />
    <title>MichiMed</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="logo-landing">
          <img src="../assets/img/michimedpng.png" alt="MichiMed Logo" />
        </div>
        <ul>
          <li><a href="#hero">Inicio</a></li>
          <li><a href="#online-services">Servicios</a></li>
          <li><a href="#contact-email">Correo Electrónico</a></li>
          <li><a href="#contact">Contacto</a></li>
          <a th:href="@{/sign-in}"
            ><button class="sign-in-btn">Iniciar sesión</button></a
          >
        </ul>
      </nav>
    </header>

    <section id="hero">
      <div class="overlay"></div>
      <div class="carousel">
        <div
          class="slide"
          style="background-image: url('../assets/img/carrusel.jpg')"
        ></div>
        <div
          class="slide"
          style="background-image: url('../assets/img/carrusel2.jpg')"
        ></div>
        <div
          class="slide"
          style="background-image: url('../assets/img/carrusel3.jpg')"
        ></div>
      </div>
      <div class="content">
        <h1>Bienvenido a la Clínica de Gatos MichiMed</h1>
        <p>
          <mark
            >Un hospital veterinario de servicio completo para gatos y sus
            necesidades de cuidado</mark
          >
        </p>
        <button class="action-btn">Programa tu cita</button>
      </div>
    </section>
    <main>
      <section id="online-services">
        <h2>Servicios en Línea</h2>
        <p>
          Ofrecemos una variedad de servicios en línea para ayudarte a gestionar
          la salud de tu mascota. Puedes usar estos servicios para revisar el
          estado de tu mascota hospitalizada, ver el historial médico de tu
          mascota, crear una cuenta para gestionar la salud de tu mascota, o ver
          y gestionar mascotas hospitalizadas si eres veterinario.
        </p>
        <button>Comenzar</button>
      </section>
      <section class="service-grid">
        <div class="service-item">
          <img
            src="../assets/icons/search.svg"
            alt="Seguimiento del Estado de la Mascota"
          />
          <h3>Seguimiento del Estado de la Mascota</h3>
          <p>Revisa el estado de tu mascota hospitalizada</p>
        </div>
        <div class="service-item">
          <img
            src="../assets/icons/document.svg"
            alt="Ingreso de Registros Médicos"
          />
          <h3>Ingreso de Registros Médicos</h3>
          <p>Consulta el historial médico de tu mascota.</p>
        </div>
        <div class="service-item">
          <img src="../assets/icons/person.svg" alt="Registro de Clientes" />
          <h3>Registro de Clientes</h3>
          <p>Crea una cuenta para gestionar la salud de tu mascota.</p>
        </div>
        <div class="service-item">
          <img
            src="../assets/icons/person-2.svg"
            alt="Gestión para Veterinarios"
          /> 
          <h3>Gestión de Veterinarios</h3>
          <p>
            Para veterinarios que gestionan mascotas hospitalizadas.
          </p>
        </div>
      </section>
      <section id="additional-services">
        <div class="additional_service-item">
          <img src="../assets/img/servicios.png" alt="Nail Cutting" />

          <h3>Corte de Uñas</h3>
        </div>

        <div class="additional_service-item">
          <img src="../assets/img/servicios2.png" alt="Hospitalización" />
          <h3>Hospitalización</h3>
        </div>

        <div class="additional_service-item">
          <img src="../assets/img/servicios3.png" alt="Limpieza" />
          <h3>Limpieza</h3>
        </div>
      </section>

      <section id="contact-email">
        <h2>¿Preguntas sobre los servicios que ofrecemos?</h2>
        <p>Contáctanos en <strong>info@michimed.com</strong></p>
        <button>Envíanos un Correo</button>
      </section>

      <section id="contact">
        <h1>Contáctanos</h1>
        <form>
          <h3>Nombre</h3>
          <input type="text" placeholder="Tu nombre" required />
          <h3>Correo Electrónico</h3>
          <input type="email" placeholder="Tu correo electrónico" required />
          <h3>Asunto</h3>
          <input type="text" placeholder="Asunto" required />
          <h3>Mensaje</h3>
          <textarea class="Mensaje" type="text" required></textarea>
          <button type="submit">Enviar</button>
        </form>
      </section>
    </main>

    <footer>
      <div class="social-links">
        <a href="https://www.instagram.com/" aria-label="Instagram">
          <i class="icon-instagram">
            <img
              src="../assets/icons/Instagram.png"
              alt="Instagram Icon"
              class="social-icon"
            />
          </i>
        </a>
        <a aria-label="Phone">
          <i class="icon-phone">
            <img
              src="../assets/icons/phone.png"
              alt="Phone Icon"
              class="social-icon"
            />
          </i>
        </a>
        <a href="https://x.com" aria-label="Twitter">
          <i class="icon-twitter">
            <img
              src="../assets/icons/twitter.png "
              alt="Twitter Icon"
              class="social-icon"
            />
          </i>
        </a>
      </div>
      <div class="legal">
        <a href="#">Privacidad y políticas</a>
        <a href="#">Términos y condiciones</a>
      </div>
      <p class="copy">&copy; 2024 MichiMed. Todos los derechos reservados.</p>
    </footer>

    <script src="./js/landing.js"></script>
  </body>
</html>
